<?xml version="1.0" encoding="GB2312"?>
<Config>
	<objitem filepath="D:\WorkCodes\mycode\python\xlgift\defaults\1.xls" sheet="Sheet1" />
	<giftitem filepath="D:\WorkCodes\mycode\python\xlgift\defaults\giftbag.xls" sheet="Sheet1" />
	<giftxml outpath="D:\WorkCodes\mycode\python\xlgift\defaults\giftbagConfig.xml" templatexml="D:\WorkCodes\mycode\python\xlgift\defaults\gift_template.xml" />
	<packtools execpath="D:\WorkCodes\mycode\gifttools\gifttools\Debug\packtools.exe" inputpath="aaa" outputpath="bbb" arg="ccc" />
	<packtools execpath="D:\WorkCodes\mycode\gifttools\gifttools\Debug\packtools.exe" inputpath="123" outputpath="456" arg="567" />
	<packtools execpath="D:\WorkCodes\mycode\gifttools\gifttools\Debug\packtools.exe" inputpath="1111" outputpath="222" arg="3333" />
</Config>
